{% load static %}
 <!DOCTYPE html>
<html lang="es">

<head>
    <meta property="og:title" content="{% block og_title %}Sistema de Eventos Locales{% endblock %}"/>
    <meta property="og:description" content="{% block og_description %}Descubre y crea eventos locales.{% endblock %}"/>
    <meta property="og:image" content="{% static 'eventos/og-default.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Eventos Locales y Otros</title>
    <link rel="stylesheet" href="{% static 'eventos/style.css' %}">
    <link rel="stylesheet" href="{% static 'eventos/forms.style.css' %}">
</head>
<body>
    <header>
        <div>
            <img src="https://img.freepik.com/vector-premium/coleccion-logotipos-letras-alfabeticas_647881-448.jpg?semt=ais_hybrid&w=740" alt="Logo del sitio" height="60">
            <h1>Sistema de Eventos Locales</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'lista_eventos' %}">Lista de Eventos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'crear_evento' %}">Crear Evento</a></li>
                {% endif %}
                <li><a href="{% url 'buscar_eventos' %}">Buscar Evento</a></li>
               <li><a href="{% url 'eventos_pasados' %}">Historial de Eventos</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="destacado">
            <h2>🎉 ¡Próximo Gran Evento!</h2>
            <p>No te pierdas nuestro evento más importante del mes. Música, cultura y comunidad.</p>
        </section>

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Sistema de Eventos Locales. Todos los derechos reservados.</p>
        <p>Desarrollado por: <a href="" target="_blank">binary brains</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'eventos/main.js' %}"></script>
</body>
</html>

